<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1 class="w-full h-full bg-zinc-900">Rahul and Nikita</h1>
</body>
</html>